{
  "openapi": "3.1.0",
  "info": {
    "title": "Fretchen AI Assistant (LLM) Service",
    "description": "AI chat assistant, paid via x402 batch-settlement USDC payment channels.",
    "version": "1.0.0",
    "x-guidance": "OpenAI chat-completions body. POST / with { model, messages: [{ role, content }, ...] } and no payment header to receive a 402 with x402 batch-settlement payment requirements (accepts[]). Open/top up a payment channel per the requirements, retry with the payment header, and the service returns a standard OpenAI chat.completion object. Streaming (stream: true) is not supported. Each message is metered and settled up to a per-message price ceiling; the real cost is usage-derived and typically lower. Note: payment uses x402 batch-settlement (a stateful channel), so a stock OpenAI SDK cannot pay this endpoint without batch-settlement client wiring — the OpenAI shape is for body legibility, not drop-in SDK use.",
    "contact": {
      "name": "fretchen",
      "url": "https://www.fretchen.eu",
      "email": "fretchen.dev@proton.me"
    }
  },
  "x-discovery": {
    "ownershipProofs": [
      "0x08fd2874a7a85b7250830bf6be396953c108e197739ccc758e373036b2fe78a71ddcaf48183690b5f1d2a0049eb0af93068fb35eaaf59d266168eaeea1df357d1c"
    ]
  },
  "x-service-type": "llm/v1",
  "x-interop-floor": "A compatible llm/v1 agent MUST advertise at least one accepts[] entry with asset USDC on network Base (eip155:8453), scheme batch-settlement. Request/response schema is defined by this document's LLMChatRequest/LLMChatResponse. See README.md.",
  "servers": [{ "url": "https://llm-agent.fretchen.eu" }],
  "tags": [
    { "name": "LLM", "description": "AI chat assistant / text completion" },
    { "name": "Chat", "description": "Multi-turn conversational messages" },
    { "name": "x402", "description": "Paid via x402 batch-settlement USDC payment channels" }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "llmX402",
        "summary": "Chat with the AI assistant (x402 batch-settlement USDC payment)",
        "description": "Sends a prompt to the LLM and returns its response. Payment is settled per message via an x402 batch-settlement USDC payment channel, capped at a per-message price ceiling.",
        "tags": ["LLM", "Chat", "x402"],
        "security": [],
        "x-payment-info": {
          "protocols": ["x402"],
          "price": { "mode": "dynamic", "currency": "USD", "min": "0", "max": "0.003" }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LLMChatRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LLM response generated and payment settled successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LLMChatResponse" }
              }
            }
          },
          "402": {
            "description": "Payment required. Body/headers (Payment-Required, X-Payment) carry the x402 batch-settlement payment requirements to satisfy and retry with."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LLMChatRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "description": "OpenAI chat-completions request body.",
        "properties": {
          "model": {
            "type": "string",
            "enum": ["mistral-large-latest"],
            "description": "The model to use. Only the advertised model id(s) are served; others return model_not_found."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "description": "The conversation so far.",
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant"],
                  "description": "The speaker's role."
                },
                "content": { "type": "string", "description": "The message text." }
              }
            }
          },
          "useDummyData": {
            "type": "boolean",
            "description": "Vendor extension (not OpenAI): forces a mock completion. Testnet networks always mock regardless."
          }
        }
      },
      "LLMChatResponse": {
        "type": "object",
        "description": "OpenAI chat.completion object.",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["chat.completion"] },
          "created": { "type": "integer", "description": "Unix timestamp (seconds)." },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": { "type": "integer" },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": { "type": "string" },
                    "content": { "type": "string", "description": "The generated reply." }
                  }
                },
                "finish_reason": { "type": "string", "nullable": true }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "Token usage; the settled charge is derived from it.",
            "properties": {
              "prompt_tokens": { "type": "integer" },
              "completion_tokens": { "type": "integer" },
              "total_tokens": { "type": "integer" }
            }
          }
        }
      }
    }
  }
}
