{
  "openapi": "3.1.0",
  "info": {
    "title": "Fretchen AI Image Generation Service",
    "version": "1.0.0",
    "x-guidance": "POST / with { prompt, tokenId, mode, size } and no payment header to receive a 402 with x402 v2 payment requirements (accepts[]). Pay in USDC on one of the offered networks, retry with the payment header, and the service mints/updates the NFT and returns its metadata and image URLs.",
    "contact": {
      "name": "fretchen",
      "url": "https://www.fretchen.eu"
    }
  },
  "servers": [{ "url": "https://imagegen-agent.fretchen.eu" }],
  "paths": {
    "/": {
      "post": {
        "operationId": "genimgX402Token",
        "summary": "Generate AI Image and Mint NFT (x402 USDC payment)",
        "security": [],
        "x-payment-info": {
          "protocols": ["x402"],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.07" }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ImageGenerationRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated and NFT minted/updated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImageGenerationResponse" }
              }
            }
          },
          "402": {
            "description": "Payment required. Body/headers (Payment-Required, X-Payment) carry the x402 v2 payment requirements to satisfy and retry with."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ImageGenerationRequest": {
        "type": "object",
        "required": ["prompt", "tokenId"],
        "properties": {
          "prompt": { "type": "string" },
          "tokenId": { "type": "integer" },
          "mode": { "type": "string", "enum": ["generate", "edit"], "default": "generate" },
          "size": { "type": "string", "enum": ["1024x1024", "1792x1024"] },
          "referenceImage": { "type": "string", "format": "byte" }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "metadata_url": { "type": "string", "format": "uri" },
          "image_url": { "type": "string", "format": "uri" },
          "transaction_hash": { "type": "string" }
        }
      }
    }
  }
}
