{
  "openapi": "3.1.0",
  "info": {
    "title": "fretchen x402 Facilitator",
    "description": "x402 v2 facilitator: verifies and settles USDC payments on Optimism and Base. This is protocol infrastructure a seller (resource server) integrates against, not a paid resource — a buyer never calls these endpoints directly; the seller relays a buyer's signed payment payload here to verify and settle it. The facilitator never holds funds and is not a custodian.",
    "version": "1.0.0",
    "x-guidance": "Sellers: on receiving a request with a payment header, POST { paymentPayload, paymentRequirements } to /verify before delivering the resource, then POST the same body to /settle after delivery. GET /supported once to discover which networks, schemes, and fee model this facilitator advertises. There is no request body for /supported.",
    "contact": {
      "name": "fretchen",
      "url": "https://www.fretchen.eu",
      "email": "fretchen.dev@proton.me"
    }
  },
  "servers": [
    {
      "url": "https://facilitator.fretchen.eu"
    }
  ],
  "tags": [
    {
      "name": "x402",
      "description": "x402 v2 payment verification and settlement"
    }
  ],
  "paths": {
    "/verify": {
      "post": {
        "operationId": "verify",
        "summary": "Verify a signed payment off-chain, before delivering the resource",
        "description": "Called by a seller after receiving a payment header from a buyer. Checks signature validity, sufficient balance, correct recipient, and expiration. Does not move funds. Call this before delivering the resource; call /settle after.",
        "tags": [
          "x402"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result. A 200 status does not imply the payment was valid — check isValid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request body was not valid JSON, or was missing paymentPayload/paymentRequirements."
          },
          "405": {
            "description": "Method not allowed — use POST."
          }
        }
      }
    },
    "/settle": {
      "post": {
        "operationId": "settle",
        "summary": "Settle a verified payment on-chain",
        "description": "Called by a seller after delivering the resource. Executes the payment on-chain (EIP-3009 transferWithAuthorization for the exact scheme). Same request shape as /verify.",
        "tags": [
          "x402"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settlement result. A 200 status does not imply the settlement succeeded — check success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request body was not valid JSON, or was missing paymentPayload/paymentRequirements."
          },
          "405": {
            "description": "Method not allowed — use POST."
          }
        }
      }
    },
    "/supported": {
      "get": {
        "operationId": "supported",
        "summary": "Discover the networks, schemes, and fee model this facilitator advertises",
        "description": "Called once by a seller (or a buyer's client) to learn what this facilitator supports, before ever calling /verify or /settle. No request body.",
        "tags": [
          "x402"
        ],
        "responses": {
          "200": {
            "description": "Supported capabilities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — use GET."
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "openapiSpec",
        "summary": "This document",
        "tags": [
          "x402"
        ],
        "responses": {
          "200": {
            "description": "This OpenAPI document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "properties": {
          "paymentPayload": {
            "type": "object",
            "properties": {
              "accepted": {
                "type": "object",
                "properties": {
                  "network": {
                    "description": "CAIP-2 network id, e.g. eip155:10.",
                    "type": "string"
                  },
                  "scheme": {
                    "description": "e.g. exact, batch-settlement.",
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "accepted"
            ],
            "additionalProperties": false,
            "description": "The x402 v2 PaymentPayload the buyer produced — includes accepted.network, accepted.scheme, and the signed authorization. Passed through as received; the facilitator does not re-derive it."
          },
          "paymentRequirements": {
            "type": "object",
            "properties": {
              "amount": {
                "description": "Atomic units of the payment asset.",
                "type": "string"
              }
            },
            "additionalProperties": false,
            "description": "The x402 v2 PaymentRequirements the seller advertised in its 402 response."
          }
        },
        "required": [
          "paymentPayload",
          "paymentRequirements"
        ],
        "additionalProperties": false,
        "description": "Identical shape for /verify and /settle."
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "isValid": {
            "type": "boolean"
          },
          "payer": {
            "description": "The buyer's address, when known.",
            "type": "string"
          },
          "invalidReason": {
            "description": "Present when isValid is false.",
            "type": "string"
          },
          "remainingSettlements": {
            "description": "How many more settlements the seller's current USDC approval for this facilitator still covers. Present only when a fee is configured and the allowance could be read — an early warning before it hits zero.",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "isValid"
        ],
        "additionalProperties": false
      },
      "SettleResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "payer": {
            "type": "string"
          },
          "transaction": {
            "description": "On-chain settlement tx hash. Empty string on failure.",
            "type": "string"
          },
          "network": {
            "description": "CAIP-2 network id the settlement ran on.",
            "type": "string"
          },
          "errorReason": {
            "description": "Present when success is false.",
            "type": "string"
          },
          "fee": {
            "description": "Present only when a fee is configured for this network.",
            "type": "object",
            "properties": {
              "collected": {
                "type": "boolean",
                "description": "True only when status is \"collected\"."
              },
              "status": {
                "type": "string",
                "enum": [
                  "collected",
                  "pending",
                  "failed"
                ]
              },
              "txHash": {
                "description": "Fee-collection tx hash, when one was sent.",
                "type": "string"
              },
              "error": {
                "type": "string"
              }
            },
            "required": [
              "collected",
              "status"
            ],
            "additionalProperties": false
          },
          "extensions": {
            "description": "x402 v2 extensions. facilitatorFees, when present, discloses the fee assessed for this payment per the #1016 disclosure proposal — see /supported for the full fee model.",
            "type": "object",
            "properties": {
              "facilitatorFees": {
                "type": "object",
                "properties": {
                  "info": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string"
                      },
                      "facilitatorFeePaid": {
                        "type": "string",
                        "description": "Fee ASSESSED for this payment. Never varies with the collection outcome."
                      },
                      "asset": {
                        "type": "string"
                      },
                      "model": {
                        "type": "string"
                      },
                      "collection": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "collected",
                              "pending",
                              "failed"
                            ]
                          },
                          "txHash": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "version",
                      "facilitatorFeePaid",
                      "asset",
                      "model",
                      "collection"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "info"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "extra": {
            "description": "Scheme-specific extras passed through from the underlying scheme (e.g. batch-settlement channel state).",
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "SupportedResponse": {
        "type": "object",
        "properties": {
          "kinds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "x402Version": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "scheme": {
                  "type": "string"
                },
                "network": {
                  "type": "string",
                  "description": "CAIP-2 network id."
                },
                "extra": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "required": [
                "x402Version",
                "scheme",
                "network"
              ],
              "additionalProperties": false
            },
            "description": "Every supported (network, scheme) pair."
          },
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Advertised extension keys, e.g. facilitatorFees when a fee is configured."
          },
          "signers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Facilitator address(es) per network."
          },
          "facilitatorFees": {
            "description": "The full fee model disclosure (amount, recipient, recommended USDC approval) — present only when a fee is configured.",
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "asset": {
                "type": "string"
              },
              "flatFee": {
                "type": "string"
              },
              "decimals": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "recipient": {
                "type": "string",
                "description": "Facilitator address that collects the fee (fee recipient / approval spender)."
              },
              "networks": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "CAIP-2 networks this fee model applies to."
              },
              "fee": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "collection": {
                    "type": "string"
                  }
                },
                "required": [
                  "amount",
                  "description",
                  "collection"
                ],
                "additionalProperties": false
              },
              "setup": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "function": {
                    "type": "string"
                  },
                  "spender": {
                    "type": "string"
                  },
                  "recommended_amount": {
                    "type": "string"
                  }
                },
                "required": [
                  "description",
                  "function",
                  "spender",
                  "recommended_amount"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "version",
              "model",
              "asset",
              "flatFee",
              "decimals",
              "recipient",
              "networks",
              "fee",
              "setup"
            ],
            "additionalProperties": false
          },
          "links": {
            "type": "object",
            "properties": {
              "documentation": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "openapi": {
                "type": "string"
              }
            },
            "required": [
              "documentation",
              "source",
              "openapi"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "kinds",
          "extensions",
          "signers",
          "links"
        ],
        "additionalProperties": false
      }
    }
  }
}
